@using MiniFinance.Common
@using MiniFinance.ViewModel.ReportInputVat
@model List<tbDetailViewModel>

@{
    int i = 0;
    decimal sumAmtExVat = 0;
    decimal sumVatAmt = 0;
}

@if (Model.Count > 0)
{
    foreach (var data in Model)
    {
        i++;
        sumAmtExVat += data.AmountExVat;
        sumVatAmt += data.VatAmount;
        <tr>
            <td class="text-center">@i</td>
            <td class="text-center">@(data.ClaimDate != null ? data.ClaimDate.Value.ToString("dd/MM/yyyy") : "")</td>
            <td class="text-left">@data.InvoiceNo</td>
            <td class="text-center">@data.ContractCode</td>
            <td class="text-left">@data.SellerName</td>
            <td class="text-right">@String.Format("{0:n}", data.AmountExVat)</td>
            <td class="text-right">@String.Format("{0:n}", data.VatAmount)</td>
        </tr>
    }
    <tr>
        <td class="text-left" colspan="5"><b>รวมทั้งสิ้น</b></td>
        <td style="display:none;"></td>
        <td style="display:none;"></td>
        <td style="display:none;"></td>
        <td style="display:none;"></td>
        <td class="text-right"><b>@String.Format("{0:n}", sumAmtExVat)</b></td>
        <td class="text-right"><b>@String.Format("{0:n}", sumVatAmt)</b></td>
    </tr>
}







